[Unit]
Description=Check Market Glance web service every 10 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
AccuracySec=1min
Unit=market-glance-healthcheck.service

[Install]
WantedBy=timers.target
